name: Auto Key Checker

on:
  schedule:
    - cron: '13 8 * * *'  # запуск каждый день в 11:13 по МСК 
  workflow_dispatch:        # возможность запускать вручную

concurrency:
  group: key-checker
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  check-keys:
    runs-on: ubuntu-latest
    timeout-minutes: 350

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Cache pip
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: |
          pip install -r requirements.txt

      - name: Run Checker Script
        # Этот блок связывает секреты GitHub с переменными окружения внутри Python
        env:
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: |
          python main.py | tee run.log

      - name: Commit & Push Results
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Auto-update checked keys [skip ci]"
          file_pattern: |
            checked/*
            run.log
          skip_empty_commit: true
